<div class="mainCont">
    <%=image_tag("golfswing.jpg", :class=> "welcomeIm") %>
    
    <h1>Home Page</h1>
    
    <p>Welcome to the new golf home page!</p>
    
    <br>
    
    <p>Later we will fill this with dynamic content...</p>
    
    
    
</div>