<% if @cart.empty? %>
<p> Please buy at least one item from me</p>
<% end %>

<div id="itemsContainer">
    
    <table id="customers">
        <% total = 0 %>
        
        <% @cart.each do |id, quantity| %>
        <% item = Item.find_by_id(id) %>
        <tr>
            
        <td class="image" ><%= link_to item.title, item %></td>    
        <td> <%=item.price %></td>    
        <td> <%=item.brand %></td>  
        </tr>
        
        
        <% end %>
        
    </table>
    
    
    
    
</div>